<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{planObj?.plan}}</h5>
            <h6 class="card-price text-center"><span class="period">{{planObj?.price}}</span></h6>
            <hr>
            <ul class="fa-ul" >
              <li *ngFor="let item of planObj.desc"><span class="fa-li" ><i class="fas fa-check"></i></span>
                <!-- <div *ngIf="item.isdisable">{{item.name}}</div>
                <div *ngIf="!item.isdisable" class="text-decoration-line-through">{{item.name}}</div> -->
                <div [ngClass]="{'text-decoration-line-through': !item.isdisable, 'text-decoration-underline': item.isdisable}">{{item.name}}</div>
              </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>