<section class="pricing py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <!-- <button (click) = "showAlert()" [disabled]="isdisable">Click</button> -->
        <!-- <img (mouseenter) = "changeImg()" [src]="src" alt=""> -->
        <!-- <input type="text" [(ngModel)] = "textValue"> -->
        <div *ngFor="let item of content">
          <app-card [planObj] = "item"></app-card>
        </div>
        <!-- <app-card [product]= "content[1]"></app-card>
        <app-card [product]="content[2]"></app-card> -->
      </div>
    </div>
  </section>